* {
    margin: 0;
    box-sizing: border-box;
}

$primary-color:  #730099;
$secondary-color:  #47d147;

body {
    background-color: $primary-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}